# This file is part of AsicVerifier and is released under
# the AGPL-3.0-only License: https://opensource.org/license/agpl-v3/

*.egg-info/
__pycache__/
build/
venv/

# Get this jar file from X-Road Security Server path /usr/share/xroad/jlib/asicverifier.jar
asicverifier.jar
